.c-header {
    .logo {
        height: 48px;
        cursor: pointer;
    }
    .input {
        max-width: 200px;
    }

    @media (min-width: 576px) {
        .input {
            max-width: 350px;
        }
    }

    @media (min-width: 992px) {
        .input {
            max-width: 480px;
        }
    }
}
