// Colours
$primary: #ECBF00;

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// Icons
@import 'bootstrap-icons/font/bootstrap-icons.css';

// Buttons
.btn-dark {
    @include button-variant(#000, #000);
}

// Typeface
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    font-family: Roboto, sans-serif;
    display: flex;
    min-height: 100vh;
    padding-top: 100px;
}
  
#root {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
